{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="banner_w3lspvt" style="margin-top: 6%; display: flex; align-items: center; padding: 0px 40px;">
    <div style="flex: 1; text-align: left;">
        <img src="{% static 'images/Heart_Health_Analyzer_Image.jpg' %}" alt="Heart Health Analyzer" width="500px" height="510px" style="padding-top: 25px;">
    </div>
	<div style="flex: 2; padding-left: 20px;">
		<p style="text-align: justify; color: black; margin-left: 20px;">
			Heart disease remains one of the leading causes of mortality worldwide, affecting millions of lives every year.</span> Early detection and prevention are crucial in combating this global health challenge. The Heart Health Analyzer (HHA) is an innovative platform designed to empower individuals and healthcare professionals with the tools to predict and manage heart disease risks effectively. By leveraging advanced data mining techniques and machine learning algorithms, HHA provides accurate, data-driven insights to help users make informed decisions about their heart health.
		</p><br>
		
		<p style="text-align: justify; color: black; margin-left: 20px;">
			HHA is built with simplicity and accessibility in mind. The platform features a user-friendly interface that allows users to input their medical parameters effortlessly. Once the data is submitted, the system processes it using advanced machine learning models to generate a risk assessment report. This report highlights the likelihood of developing heart disease and provides tailored recommendations based on the user’s unique health profile.
		</p>
		
		<p style="text-align: justify; color: black; margin-left: 20px;">
			For healthcare professionals, HHA serves as a valuable diagnostic tool, enabling them to identify high-risk patients and prioritize interventions. For individuals, it acts as a preventive measure, offering early warnings and encouraging proactive health management. Whether you’re a patient, a doctor, or a researcher, HHA is designed to meet your needs with precision and reliability.
		</p>
	</div>
	
</div>



{% endblock %}